fastapi
uvicorn[standard]
python-multipart
pydantic
pydantic-settings
langchain
langchain-core
langchain-community
langchain-huggingface
python-docx
pypdf
python-pptx
beautifulsoup4
pyMuPDF
pdfplumber
transformers
huggingface-hub
accelerate
safetensors
sqlmodel 
uvicorn
sqlmodel
pyjwt
asyncpg 
python-dotenv
langchain-groq
requests